<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="p-4">
      <div class="h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
        <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">GoodBye</h2>
        <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">退会処理</h1>
        <p class="leading-relaxed mb-2">登録したサブスクデータも全て削除されます</p>
        <p class="leading-relaxed mb-6">退会してよろしいですか？</p>
        <%= form_with url: registration_path(@user), method: :delete, class: "flex justify-center", local: true do |f| %>
          <%= f.submit '退会します', class: "p-4 text-base text-white bg-gray-500 rounded-sm hover:text-black hover:bg-gray-200" %>
        <% end %>
      </div>
    </div>
  </div>
</section>