<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="p-4">
      <div class="h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
        <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">ThankYou</h2>
        <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">退会完了</h1>
        <p class="leading-relaxed mb-1">ユーザー情報を削除しました</p>
        <p class="leading-relaxed mb-8">ご利用ありがとうございました！</p>
        <%= link_to 'アンケート', 'https://forms.gle/T66dtCYhbGbaXKiaA', class: "mt-4 text-base text-blue-400 bg-white bg-opacity-0 hover:text-blue-600" %>
        <p class="leading-relaxed mb-1">よろしければ、ご回答をお願いします</p>
        <p class="leading-relaxed mb-1">(Googleフォームに遷移します)</p>
      </div>
    </div>
  </div>
</section>