<% if model.errors.any? %>
  <div class="mb-6">
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li class='text-center text-red-500'><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>