<% if model.errors.any? %>
    <div class='mb-4 text-center text-black'>
      <p class ='block text-red-500 font-bold border-b-2 '>処理中にエラーが発生しました</p>
      お手数ですが、<a href="#" class="text-blue-400 hover:bg-gray-200">こちら</a>から<br>
      不具合のご報告をお願い申し上げます。
    </div>
<% end %>