/* バリデーションエラーに対応 */
.field_with_errors {
  display: contents;
}

/* トップページ背景 */
.bg {
  background-image: url('bg_image.jpg');
  background-size: cover;
  width: 100%;
  height: 600px;
  position: relative;
  background-attachment: fixed;
  /* https://pixabay.com/images/id-5664846/ */
}

.bg::before{
content: '';
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: rgba(0,0,0,0.05);
}

/* ヘッダー・フッター背景 */
.hf_bg {
  background-image: url('header_footer_bg.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  /* https://pixabay.com/images/id-2730506/ */
}


/* サブスクレビュー 後で振り返るボタンON・OFF設定(トグル) */
#review_action_later_check_id:checked ~ .dot {
  transform: translateX(100%);
  background-color: #ff0000;
}

/* レビュー画面(revirews/edit)吹き出し */
.bubble:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #e0edff;
}

/* レビュー一覧画面(revirews/index)吹き出し▼ */
.bubble_index:before {
  content: "";
  position: absolute;
  top: -35%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #eeeded;
}

/* レビュー一覧画面(revirews/edit)吹き出しコメント */
.bubble_word {
  content: "";
  position: absolute;
  bottom: 130%;
  left: -50%;
  margin-left: -15px;
  border: 15px solid transparent;
  background-color: #eeeded;
}